@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
$primary_font: 40px;
$secondary_font: 17px;
$card_font: 25px;

@mixin big_font {
    font-size: $primary_font;
    font-weight: 550;
    color: #EEE5FF;
}

@mixin small_font {
    font-size: $secondary_font;
    font-weight: 400;
    color: #bdbdc6;
    line-height: 28px;
}

@mixin card_font {
    font-size: $card_font;
    font-weight: 500;
    color: #EEE5FF;
}

.section {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    font-family: "Sora";
    background-color: transparent;
    color: #fff;

    .NavBar {
        display: flex;
        justify-content: space-between;
        padding: 2% 8%;

        .Button {
            border: 2px solid #fff;
            width: 200px;
            height: 50px;
            text-decoration: none;
            background-color: #fff;
            border-radius: 5px;
            justify-content: center;
            align-items: center;

            p {
                text-align: center;


                a {
                    text-decoration: none;
                    color: black;

                }
            }
        }
    }

    .Content {
        width: 100%;
        display: flex;
        margin-top: 30px;
        height: 530px;

        .Content1 {
            width: 30%;
            display: inline-block;

            p {
                span {
                    background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
                    -webkit-background-clip: text;
                    color: transparent;
                }

                font-weight: 500;
                display: inline-block;
                position: relative;
                left: 50%;
                transform: translate(-50%);
                color: #cccad1;

            }
        }

        .Content2 {
            width: 40%;
            padding: 20px;
            font-weight: 500;

            .para1 {
                span {
                    background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
                    -webkit-background-clip: text;
                    color: transparent;
                }

                font-size: 70px;
                position: relative;
                bottom: 90px;
                color: #EEE5FF;
            }

            .para2 {
                @include small_font();
                position: relative;
                bottom: 120px;
            }
        }
    }

    .Review {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #EEE5FF;
    }

    .Review-Container {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .Ratings {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .Details {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .content {
            width: 50%;

            .Big {
                @include big_font();
                margin-top: 100px;
            }

            .small {
                @include small_font();
                margin-top: 40px;
            }

            .Button {
                border: 2px solid #fff;
                width: 300px;
                height: 60px;
                margin-top: 40px;
                background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
                color: #000;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                border: none;

                .icon {
                    font-size: 20px;
                    color: #fff;
                    font-weight: lighter;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

        .magic {
            margin-top: 100px;
        }
    }

    .Deals {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        width: 45%;

        p {
            @include big_font();
            margin-top: 100px;
        }
    }

    .Container {
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;

        .Card {
            width: 38%;
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            background: #0F0821;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            padding: 20px;

            .Small {
                @include small_font();
            }

            .Big {
                @include card_font();
            }

            img {
                margin-top: 20px;
                width: 100%;
                height: 80%;
            }
        }

        .down {
            margin-top: 150px;
        }
    }

    .Box {
        width: 80%;
        height: 250px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: #0F0821;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        padding: 20px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 150px;

        .Cards {
            display: inline-block;
            width: 500px;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            text-align: center;

            .Big {
                @include card_font();
            }

            .Small {
                @include small_font();
            }
        }
    }

    .Box1 {
        width: 80%;
        padding: 20px;
        position: relative;
        left: 50%;
        height: 200px;
        transform: translate(-50%);
        margin-top: 80px;

        .Content {
            display: block;
            width: 700px;
            position: relative;
            left: 50%;
            height: 90%;
            transform: translate(-50%);
            text-align: center;

            .Big {
                font-size: 40px;
                font-weight: 500;
                color: #EEE5FF;
            }

            .Small {
                @include small_font();
            }
        }
    }

    .Benefits {
        width: 80%;
        padding: 20px;
        position: relative;
        left: 50%;
        height: 400px;
        transform: translate(-50%);
        margin-top: 40px;
        display: flex;
        gap: 20px;
        justify-content: space-evenly;

        .Boxx1 {
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            background: #0F0821;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            width: 500px;
            height: 360px;
            padding: 10px;

            .Big {
                font-size: 25px;
                font-weight: 500;
                color: #EEE5FF;
                margin-left: 20px;
            }

            .Small {
                @include small_font();
                margin-left: 20px;
            }
        }
    }

    .End {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);

        .p1 {
            font-size: 12px;
        }

        .p2 li {
            list-style: none;
            display: inline;
            margin-left: 30px;
        }

        .p2 li a {
            text-decoration: none;
            color: rgb(204, 193, 193);
            font-size: 12px;
        }
    }
}

//For Responsive 
@media (max-width:1600px) {
    .section .Content {
        height: 500px;
    }

    .section .Content .Content2 .para1 {
        font-size: 60px;
    }

    .section .Content .Content2 .para2 {
        font-size: 15px;
    }
}

@media (max-width:1300px) {
    .section .Benefits .Boxx1 .Small {
        font-size: 13px;
    }
}

@media (max-width:1230px) {
    .section .Content {
        height: 300px;
    }

    .section .Content .Content2 .para1 {
        font-size: 40px;
    }

    .section .Content .Content2 .para2 {
        font-size: 13px;
    }

    .section .Deals p {
        font-size: 35px;
    }

    .section .Details .content .Big {
        font-size: 35px;
    }

    .section .Benefits .Boxx1 .Small {
        font-size: 10px;
    }

    .section .Benefits .Boxx1 .Big {
        font-size: 20px;
    }
}

@media (max-width:930px) {
    .section .Content {
        height: 350px;
    }

    .section .NavBar .Button {
        display: none;
    }

    .section .Deals p {
        font-size: 30px;
    }

    .section .Details .content .Big {
        font-size: 30px;
    }

    .section .Benefits .Boxx1 .Small {
        font-size: 8px;
    }
}

@media (max-width:820px) {
    .section .Content {
        height: 300px;
    }

    .section .Content .Content2 .para1 {
        font-size: 35px;
    }

    .section .Content .Content2 .para2 {
        font-size: 12px;
    }
}

@media (max-width:750px) {
    .section .Content {
        display: block;
        height: auto;
        margin-top: 0;
        padding: 8px;
    }

    .section .Content .Content1 {
        display: block;
        position: relative;
        left: 50%;
        width: 100%;
        transform: translate(-50%);
    }

    .section .Content .Content2 {
        display: block;
        padding: 0;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .section .Content .Content2 .para1 {
        position: static;
    }

    .section .Content .Content2 .para2 {
        position: static;

    }

    .section .Review {
        font-size: 15px;
        margin-top: 20px;
    }

    .section .Details {
        display: block;
        margin-top: 20px;
    }

    .section .Details .content {
        padding: 20px;
        width: 100%;
    }

    .section .Details .content .Button {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .section .Details .magic {
        text-align: center;

    }

    .section .Deals p {
        font-size: 20px;
    }

    .section .Details .content .Big {
        font-size: 25px;
    }

    .section .Container {
        display: block;

        margin-top: 50px;
    }

    .section .Container .Card {
        width: 70%;
        padding: 20px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .section .Container .down {
        margin-top: 20px;
    }

    .section .Box .Cards .Big {
        font-size: 20px;
    }

    .section .Box .Cards .Small {
        font-size: 12px;
    }

    .section .Box1 .Content .Big {
        font-size: 23px;
        text-align: center;
    }

    .section .Box1 .Content .Small {
        font-size: 12px;
    }

    .section .Box {
        width: 90%;
    }

    .section .Box1 {
        width: 90%;
    }

    .section .Box1 .Content {
        text-align: start;
    }

    .section .Benefits {
        display: block;
        position: relative;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
        height: 1200px;
    }

    .section .Benefits .Boxx1 {
        margin-top: 20px;
        width: 90%;
    }
}

//Button Hover Effect

.section .NavBar .Button:hover {
    background-color: transparent;
    transition: 0.5s;

    p a {
        color: #fff;
        transition: 0.5s;
    }
}